.MuiGrid-root {
  padding-top: 160px;
}

.app-bar{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .MuiSvgIcon-root{
      fill:White;
      font-size: 1.3em;
    }
    .MuiIconButton-root {
      font-size: 1.3em;
      padding:8px;
    }
    
}